<div class="content-wrapper">
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="col-lg-12">
                            <h3 class="box-title">Users</h3>
                            <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                data-target="#modal-add-user">
                                <i class="fa fa-plus"></i>&nbsp; Add New User
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email Address</th>
                                            <th>Created Date</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>First Name</td>
                                            <td>Last Name</td>
                                            <td>Email Address</td>
                                            <td>Created Date</td>
                                            <td>Role</td>
                                            <td>Action</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-add-user">
    <form>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- <div class="col-lg-12">
                            <label class="control-label">Parent Role Name</label>
                            <select class="form-control" formControlName="PARENT_ROLE" >
                                <option value="0">-- Select --</option>
                                <option *ngFor="let item of ParentRoleList" [value]="item.ROLEID">{{item.ROLE_NAME}}</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="control-label">Role Name</label>
                            <input type="text" class="form-control" formControlName="ROLE_NAME" [ngClass]="{ 'is-invalid': submitted && RoleInput.ROLE_NAME.errors }" />
                            <div *ngIf="submitted && RoleInput.ROLE_NAME.errors" class="invalid-feedback">
                                <div *ngIf="RoleInput.ROLE_NAME.errors.required">Please Enter Role Name</div>
                            </div>
                        </div> -->
                        <div class="col-lg-6">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Role</label>
                            <select class="form-control">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let item of RoleList" [value]="item.ROLEID">{{item.ROLE_NAME}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Email Address</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Password</label>
                            <input type="Password" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Confirm Password</label>
                            <input type="Password" class="form-control" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">
                                Active
                            </label>
                            <div class="icheck">
                                <label>
                                    <input type="checkbox" id="Active" >
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-remove"></i> &nbsp;Close</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade trash-model" id="modal-delete-role" data-keyboard="false" data-backdrop="static"> 
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Role Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">Are sure you want to delete this user ?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i
                            class="fa fa-remove"></i> &nbsp;Cancel</button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                </div>
            </div>
        </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="square-spin">
</ngx-spinner>