@import './assets/bootstrap/dist/css/bootstrap.min.css';
@import './assets/font-awesome/css/font-awesome.min.css';
@import './assets/Ionicons/css/ionicons.min.css';
@import './assets/dist/css/AdminLTE.min.css';
@import './assets/dist/css/skins/skin-blue.min.css';
@import './assets/iCheck/square/blue.css';
@import './assets/datatables.net-bs/css/dataTables.bootstrap.min.css';
@import '~ngx-toastr/toastr';
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

.fa-big{
    font-size: 20px;
}
.form-control.ng-invalid.is-invalid {
    border-bottom: 2px solid red !important;
}
.invalid-feedback>div {
    color: red;
}
.modal.trash-model {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal.trash-model:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .trash-model > .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .mr-b-0 {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.updare-profile {
  width: 200px;
  height: 200px;
  z-index: 5;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}
.profile-container{
  background-color: #3c8dbc;
    height: 220;
    width: 220px;
    padding: 10px;
}

.btn-profile{
  padding: 5px 8px;
  margin: 2px;
}